title{
    color:yellow;
    font-size:5px;
    background-color: antiquewhite;
}
h{
    color:blue;
    font-size:5px;
    background-color: antiquewhite;
}
p{
    color:red;
    font-size:5px;
    background-color: antiquewhite;
}